.containerCard {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  margin-bottom:50px ;
}

.card {
  width: 350px;
  height: 250px;
  border-radius: 50px;
  margin: 20px;
  position: relative;
  transition: transform 2s ease-in-out;
}

.card:hover {
  opacity: 0.5;
}

.CardBackground {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.textCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.containerCard.visible {
  opacity: 1;
  transform: translateY(0);
}
