.container-video{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
}
.titleVideo{
  color: #195293;
  width: 95%;
  margin-left: 5%;
  margin-top: 50px;
}