// Carousel Styles
.slider {
  width: 100%;
  margin: auto;

  .slick-slide {
    display: flex;
    justify-content: center;
  }
}

// Review Card Styles
.reviewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  h3 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card{
  background-color: white;
  border-radius: 12px;
}
.imgLogo{
  width: 113px
}

.cardtitleLogo{
  display: flex;
  padding-top: 20px;
}
.cardtitleLogoFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 20px;
  width: 80%;
}
.comment{
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  padding-top: 20px;
}

 .cardAvis {
   width: 350px;
   background-color: white;
   border-radius: 12px;
   /* height: 250px; */
   display: flex;
   margin: 20px;
   position: relative;
   flex-direction: column;
   margin-left: 60px;
   justify-content: center;
   align-items: baseline;
   height: auto;
 }

.slick-next:before, .slick-prev:before {
  color: dodgerblue; // Change this to match your design.
  font-size: 50px;
}

.slick-next {
  right: 90px; // Change this to match your design.
  z-index: 10;
  font-size: 50px;
}

.slick-prev {
  left: 30px; // Change this to match your design.
  z-index: 10;
  font-size: 50px;
}
.slick-list{
  margin-left: 40px;
}



@media (max-width: 801px) { // Tablet

  .cardAvis {
    width: 550px;
    background-color: white;
    border-radius: 12px;
    /* height: 250px; */
    display: flex;
    margin: 20px;
    position: relative;
    flex-direction: column;
    margin-left: 60px;
    justify-content: center;
    align-items: baseline;
    height: auto;
  }
}

@media (max-width: 801px){
  .cardAvis {
    width: 80%;
    background-color: white;
    border-radius: 12px;
    /* height: 250px; */
    display: flex;
    margin: 20px;
    position: relative;
    flex-direction: column;
    /* margin-left: 60px; */
    justify-content: center;
    align-items: baseline;
    height: auto;
  }
  .slick-next {
    right: 35px;
    z-index: 10;
    font-size: 50px;
  }
  .slick-prev {
    left: 5px;
    z-index: 10;
    font-size: 50px;
  }
  .titleAvis {
    display: flex;
    justify-content: center;
    color: white;
    width: 90%;
    padding-top: 50px;
    margin-left: 10%;
  }

}

