.cardVideo{
  width: 300px;
  height: auto;
  margin: 0px 20px 0px 20px;
  border-radius: 12px;

}
.video{
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: fill;



}

poster{
  object-fit: fill;
}

